%h2 Palestras
%h3 #{@presentations.length} submissões, #{@confirmed} aceitas

- if @presentations.empty?
	%p Nenhuma até o momento.

- else
	%table
		%thead
			%tr
				%th Título
				%th Palestrante
				%th Confirmada?
		%tbody
			- @presentations.each do |presentation|			
				%tr
					%td
						%a{:href => "/presentation/#{presentation.id}"}= presentation.title
					%td= presentation.author
					%td
						%input{:type => :checkbox, :id => participant.id, :class => "participant_check"}

%script{:type => "type/javascript", :src => "/js/participants.js"}
