%h2 #{@participants.length} inscritos, #{@presents} presentes

- if @participants.empty?
	%p Nenhum até o momento.

- else
	%table
		%thead
			%tr
				%th Nome
				%th Email
				%th Presente?

		%tbody
			- @participants.each do |participant|			
				%tr
					%td= participant.name
					%td= participant.email
					%td
						%input{:type => :checkbox, :id => participant.id, :class => "participant_check"}

%script{:type => "type/javascript", :src => "/js/participants.js"}
