%h2 Participantes
%h3 #{@participants.length} inscritos, #{@presents} presentes

- if @participants.empty?
	%p Nenhum até o momento.

- else
	%table
		%thead
			%tr
				%th Nome
				%th Email
				%th Presente?

		%tbody
			- @participants.each do |participant|			
				%tr
					%td= participant.name
					%td= participant.email
					%td
						%input{:type => :checkbox, :id => participant.id, :class => "participant_check", :checked => participant.present ? true : nil}

%script{:type => "type/javascript", :src => "/js/participants.js"}
