%h2 Palestras

- if @proposals.empty?
	%p Nenhuma até o momento.

- else
	%a{:href => "/admin/csv"} Gerar CSV
	%h3 #{@proposals.length} submissões

	%table
		%thead
			%tr
				%th Categoria
				%th Título
				%th Palestrante
		%tbody
			- @proposals.each do |proposal|
				%tr
					%td= proposal.category
					%td
						%a{:href => "/proposta/#{proposal.id}"}= proposal.title
					%td= proposal.author

