!!! Strict
%html
	%head
		%title Software Freedom Day 2010 - Campina Grande
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
		%link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet/application.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Droid+Sans"}

	%body

		.content
			%h1 Software Freedom Day - Campina Grande
			%ul{:class => "menu"}
				%li
					%a{:href => '/'} Início
				%li
					%a{:href => '/agenda'} Agenda
				%li
					%a{:href => '/submissao'} Submissão
			= yield

