%h2 Programação

%p O evento ocorrerá em duas salas com palestras em pararelo. Bla bla bla...

%table
	%thead
		%tr
			%th Horário
			%th Sala 1
			%th Sala 2
	%tbody
		%tr
			%td -
			%td -
			%td -
