%h2 Programação

%p O evento ocorrerá em duas salas com palestras em pararelo. Bla bla bla...

%table
	%thead
		%tr
			%th Horário
			%th Auditório
			%th Sala 21
	%tbody
		%tr
			%td 08:00
			%td{:colspan => 2} Abertura
		%tr
			%td 08:20
			%td Palestra #1
			%td Palestra #2
		%tr
			%td 09:10
			%td{:colspan => 2} Coffee-break
		%tr
			%td 09:30
			%td Palestra #3
			%td Palestra #4
		%tr
			%td 10:20
			%td Palestra #5
			%td Palestra #6
		%tr
			%td 11:10
			%td Palestra #7
			%td Palestra #8
		%tr
			%td 12:00
			%td{:colspan => 2} Almoço
		%tr
			%td 14:00
			%td Palestra #9
			%td Palestra #10
		%tr
			%td 14:50
			%td Palestra #11
			%td Palestra #12
		%tr
			%td 15:40
			%td{:colspan => 2} Coffee-break
		%tr
			%td 16:00
			%td Palestra #13
			%td Palestra #14
		%tr
			%td 16:50
			%td Palestra #15
			%td Palestra #16
		%tr
			%td 18:00
			%td{:colspan => 2} Encerramento

