%ul
    %li
        %a{:href => '/'} Início
    %li
        %a{:href => '/submissao'} Submissão de propostas

%h2 Programação

%p O evento ocorrerá em duas salas com palestras em pararelo. Bla bla bla...

%table
	%thead
		%tr
			%th Horário
			%th Auditório
			%th Sala X
	%tbody
		%tr
			%td 08:00
			%td Abertura
			%td -
		%tr
			%td 08:15
			%td -
			%td -
		%tr
			%td 09:15
			%td -
			%td -
		%tr
			%td 10:15
			%td -
			%td -
		%tr
			%td 11:15
			%td -
			%td -

